/Platforms/Windows/.vs
/DataTree.xml
/Editor.exe
/Editor.pdb
/Editor_dbg.exe
/Editor_dbg.ilk
/Editor_dbg.pdb
/Editor_fast_dbg.exe
/Editor_fast_dbg.ilk
/Editor_fast_dbg.pdb
/log.txt
/TemplateProject.exe
/TemplateProject.pdb
/TemplateProject_dbg.exe
/TemplateProject_dbg.ilk
/TemplateProject_dbg.pdb
/TemplateProject_fast_dbg.exe
/TemplateProject_fast_dbg.ilk
/TemplateProject_fast_dbg.pdb
/BuiltAssets
/Platforms/Windows/Temp
/Platforms/Windows/Tmp
/Platforms/Windows/log.txt
/Platforms/Windows/App.vcxproj.user
/Platforms/Windows/DataTree.xml
/Platforms/Windows/EditorApp.vcxproj.user
/AssetsTree.xml
/Platforms/Windows/BuiltAssets.xml
/Platforms/Windows/GameEditorLib.vcxproj.user
/Platforms/Windows/GameLib.vcxproj.user
/.vs
/Platforms/Windows/TemplateProject.sln.DotSettings.user
/Sources/Editor/CodeToolCache.xml
/Sources/Game/CodeToolCache.xml
/TemplateProject.iobj
/TemplateProject.ipdb
